.action_button {
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: lighter;
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 5px;
}

.action_button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
