body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.App {
  height: 100vh;
  width: 100%;
}

.actions {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal_button {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.bottle_count {
  position: absolute;
  width: 100%;
  top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  /* color: #212529; */
  color: #f8f9fa;
  font-weight: lighter;
}

.bottle_count_filter {
  position: absolute;
  width: 100%;
  top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  /* color: #212529; */
  color: #adb5bd;
  font-weight: lighter;

  filter: blur(2px);
}

@media (max-width: 768px) {
  .bottle_count {
    font-size: 26px;
  }
  .bottle_count_filter {
    font-size: 26px;
  }
}

.network {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 999
}

.ant-select-selection--single {
  height: 100px;
  background: transparent;
  color: white;
  border: none;
  line-height: 100px;
  padding-left: 24px;
}

.ant-select-selection__rendered {
  height: 100px;
  line-height: 100px;
}

.ant-select-selection-selected-value {
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 5px;
}

.ant-modal {
  top: 36%;
}

@media (max-width: 768px) {
  .ant-modal {
    top: 30%;
  }
  .ant-select-selection--single {
    display: none;
  }
}
